a {
  text-decoration: none;
}

#main-menu-icon {
  font-size: 4rem;
}

nav ul {
  list-style: none;
}

#site-title {
  flex-grow: 1;
}

@media (prefers-reduced-motion: no-preference) {
  /* add motion here ? */
}
