a {
  text-decoration: none;
  color: unset;
}

#contact-section > svg {
  font-size: 2rem;
}

#main-menu-icon {
  font-size: 4rem;
}

.MuiContainer-root {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#site-title {
  flex-grow: 1;
}

@media (prefers-reduced-motion: no-preference) {
  /* add motion here ? */
}
