a {
  text-decoration: none;
}

#mainMenuIcon {
  font-size: 4rem;
  justify-self: end;
}

nav ul {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* add motion here ? */
}
